In [4]:
#Variables and Data Types
a=10
print('Value of a:',a)
a=11
print('Value of a:',a)
print('We can print any value directly :',11)

Value of a: 10
Value of a: 11
We can print any value directly : 11

In [7]:
#We can check our variable is string or number
print(type(a))
a='elias jaber'
print(type(a))
a=10.12
print(type(a))

<class 'str'>
<class 'str'>
<class 'float'>

In [8]:
#conversion

In [15]:
#String to Integer

s = "123"
i = int(s)
print(i)  

#Integer to String

i = 123
s = str(i)
print(s)  # Output: "123"

#Float to Integer


f = 123.45
i = int(f)
print(i)  # Output: 123


#Integer to Float

i = 123
f = float(i)
print(f)  # Output: 123.0

#String to Float

s = "123.45"
f = float(s)
print(f)  # Output: 123.45

#Float to String

f = 123.45
s = str(f)
print(s)  # Output: "123.45"

#String to Boolean

s1 = "True"
s2 = "False"
b1 = bool(s1)
b2 = bool(s2)
print(b1, b2)  # Output: True True


#Boolean to String

b = True
s = str(b)
print(s)  # Output: "True"

#Integer to Boolean

i1 = 0
i2 = 1
b1 = bool(i1)
b2 = bool(i2)
print(b1, b2)  # Output: False True


#Boolean to Integer

b = True
i = int(b)
print(i)  # Output: 1


#Float to Boolean

f1 = 0.0
f2 = 1.23
b1 = bool(f1)
b2 = bool(f2)
print(b1, b2)  # Output: False True


#Boolean to Float

b = False
f = float(b)
print(f)  # Output: 0.0

123
123
123
123.0
123.45
123.45
True True
True
False True
1
False True
0.0

123